<link rel="stylesheet" href="css/footer.css">

<footer>
  <a href="index.html">
    <span>© 2026 - Mycel Project</span>
  </a>
  <div class="social">
    <a href="https://x.com/MycelProject" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UCSn_twIEMWFGXxTwc1K8ISw" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://github.com/mycel-project" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
  </div>
</footer>
